xsd/tyda.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result_word">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="word_set">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="word" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:string" name="lang"/>
                    <xs:element type="xs:string" name="string"/>
                    <xs:element name="class">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="id"/>
                          <xs:element name="class">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="id"/>
                                <xs:element name="title" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="lang" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="title" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="lang" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:short" name="numeric_rank"/>
                    <xs:element type="xs:string" name="updated"/>
                    <xs:element type="xs:string" name="word_relation_set"/>
                    <xs:element type="xs:byte" name="check_senses"/>
                    <xs:element name="sense_set">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="sense">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:int" name="id"/>
                                <xs:element type="xs:int" name="word_reference"/>
                                <xs:element name="description">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="lang" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="assoc_set" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="assoc" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="sense">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:int" name="id"/>
                                                  <xs:element name="word">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:int" name="id"/>
                                                        <xs:element type="xs:string" name="lang"/>
                                                        <xs:element type="xs:string" name="string"/>
                                                        <xs:element name="class">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element type="xs:byte" name="id"/>
                                                              <xs:element name="class">
                                                                <xs:complexType>
                                                                  <xs:sequence>
                                                                    <xs:element type="xs:byte" name="id"/>
                                                                    <xs:element name="title" maxOccurs="unbounded" minOccurs="0">
                                                                      <xs:complexType>
                                                                        <xs:simpleContent>
                                                                          <xs:extension base="xs:string">
                                                                            <xs:attribute type="xs:string" name="lang" use="optional"/>
                                                                          </xs:extension>
                                                                        </xs:simpleContent>
                                                                      </xs:complexType>
                                                                    </xs:element>
                                                                  </xs:sequence>
                                                                </xs:complexType>
                                                              </xs:element>
                                                              <xs:element name="title" maxOccurs="unbounded" minOccurs="0">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="lang" use="optional"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element type="xs:string" name="updated"/>
                                                        <xs:element type="xs:byte" name="check_senses"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element type="xs:string" name="assoc_type"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="lang" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="mark_set" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="mark">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:byte" name="id"/>
                                            <xs:element type="xs:byte" name="mark_reference"/>
                                            <xs:element name="title" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="lang" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="lang"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>