xsd/tyda_simple.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result_word">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="word_set">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="word" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:string" name="lang"/>
                    <xs:element type="xs:string" name="string"/>
                    <xs:element type="xs:byte" name="class_reference"/>
                    <xs:element type="xs:string" name="updated" minOccurs="0"/>
                    <xs:element type="xs:byte" name="check_senses"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="lang"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>